<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div th:insert="navbar :: navbar">  </div>
    <div class="container" style="padding-top:50px">
        <div class="row" style="padding:30px; border-style:solid; border-radius: 15px;border-width: thin">
            <div class="col-md-4">

                <div class="row" style="padding:100px; border-style:dotted; border-width: medium;width: 80%">
                    <div id="pic">
                        foto usuario
                    </div>
                </div>
                <h1 class="row" th:utext="${usuario.nombre}">
                    Nombre completo
                </h1>
            </div>
            <div class="col-md-8">
                <div class="row">Datos de usuario

                    <p th:utext="'<strong>Rol: </strong> ' + ${usuario.rol}">Rol</p>

                    <p th:utext="'<strong>Email: </strong> ' + ${usuario.email}">Especialidad</p>
                </div>
                <div class="row"> Datos de Medico/Paciente

                </div>
            </div>
        </div>
    </div>
<div th:insert="navbar :: bootstrap"></div>
</body>
</html>