  .background-radial-gradient {
     background-color: rgb(255, 255, 255);
   }
   
  .btn {
  width: 160px;
     height: 45px;
     background-color: #0fa2aa;
     margin: 5px;
     padding: 10px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     border-radius: 25px;
     font-size: 16px;
     float: left;
}


.btn a{
  text-decoration:none;
  padding:5px 5px 5px 0;
}

   .bg-glass {
     background-color: hsla(0, 0%, 100%, 0.9) !important;
     backdrop-filter: saturate(200%) blur(25px);
   }
   
   p {
     margin-top: 0;
     margin-bottom: 1rem;
     text-align: justify;
}
   
   hr {
     margin-top: -9rem;
     margin-left: 4rem;
     margin-right: 4rem;
     border-top: 2px solid #000;
}

.img-fluid {
  max-width: 100%;
     height: auto;
     margin-top: -19px;
}

.newspaper {
 	  column-count: 3;
     padding: 1em 13em 1em 14em;
     font-size: 1em;
   }

.img-seccion {
  max-width: 21%;
     height: auto;
     margin: 0em 0 0 7em;
}
h1 {
  text-align: justify;
}
h5 {
  text-align: center;
}

.secciones {
  text-align: center;
}

.hr {
	width:35px; 
	border: 10px double #000;
	margin-top: 50px;
}

.item {
	border: none;
    background-color: #f8f9fa;
    margin-top: -1px;
}

/* TABLA */
.table {
    width: 100%;
    margin: 0 9em 0 17em;
    overflow-x: auto;
    text-align: center;
    border-color: grey;
}

.cards {
	border-radius: 14px;
    border: none;
    height: 3em;
    width: 6em;
    color: #ffffff;
    font-size: 16px;
    margin: 1em 2em 0 59em;
    background-color: #0fa2aa;
    border-color: #0fa2aa;
}

.title {
    margin: 1em;
}

.reservado {
    margin: 0em 0 0 0em;
    height: 2em;
}