<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Pagina Principal</title>
    </head>
    <body>
        <div sec:authorize="isAuthenticated()">
            <h1>
                Bienvenido
                <div sec:authentication="principal.authorities"></div>
                <span sec:authentication="name"></span>
            </h1>
        </div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Cerrar Sesion"/>
        </form>
    </body>
</html>