<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<!DOCTYPE html><html class=''>
<head>
<script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>
<script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/dpinnick/pen/LjdLmo?limit=all&page=21&q=service" />
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<!-- Nuestro css-->
 <link rel="stylesheet" type="text/css" href="static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>
        <!-- LOGIN MODULE -->
        <div class="login">
            <div class="wrap">
                <!-- TOGGLE -->
                <div id="toggle-wrap">
                    <div id="toggle-terms">
                        <div id="cross">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <!-- SLIDER -->
                <div class="content">
                    <!-- LOGO -->
                    <div class="logo">
                        <a href="#"><img
		          src="static/img/icon.png"
		          height="50"
		          loading="lazy"
		          th:src="@{/img/icon.png}"
		        /></a>
                    </div>
                    <!-- SLIDESHOW -->
                    <div id="slideshow">
                        <div class="one">
                            <h2><span>TelMed</span></h2>
                        </div>
                        
                    </div>
                </div>
                <!-- LOGIN FORM -->
                <div class="user">
                    <div class="form-wrap">
                        <!-- TABS -->
                    	<div class="tabs">
                            <h3 class="login-tab"><a class="log-in active"><span>Inicie sesión<span></a></h3>
                    	</div>
                        <!-- TABS CONTENT -->
                    	<div class="tabs-content">
                            <!-- TABS CONTENT LOGIN -->
                    		<div id="login-tab-content" class="active">
                    			<form class="login-form" th:action="@{/login}" th:method="POST">
                    				<input type="text" class="input" id="userName" name="username" placeholder="Email">
                    				<input type="password" class="input" id="userPassword" name="password" placeholder="Contraseña">
                            		<button type="submit" class="button" >Ingresar</button>
						         </form>
						         <form class="col-sm-10 login-form" th:action="@{/registro}"method="GET">
                                    <a class="forgot">No posee un usuario?</a><i class="fa fa-arrow-right" aria-hidden="true"></i>
						            <button type="submit" class="button2">Regístrese</button>
							     </form>
							        
<!-- 						         <div th:if="${param.error}" class="alert alert-danger"> -->
<!-- 						            Usuario / Contraseña incorrecta o Usuario Deshabilitado -->
<!-- 						         </div> -->
<!-- 						         <div th:if="${param.logout}" class="alert alert-danger"> -->
<!-- 						            Cerraste Sesion. -->
<!-- 						         </div> -->

                    		</div>
                    	</div>
                	</div>
                </div>
            </div>
        </div>
</body>